@charset "UTF-8";
@font-face {
    font-family: 'GenerateChange';
    src: url('GenerateChangeDemootf.otf') format('opentype'), url('GenerateChangesDemottf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lostar';
    src: url('Lostar.ttf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --fonte1: 'GenerateChange';
    --fonte2: 'Lostar';
    --fonte3: "Bebas Neue", sans-serif;

    --cor1:#1333ff;
    --cor2: #FFFFE4;
}

*{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: var(--cor2);
    font-family: var(--fonte3);
}

header{
    color: var(--cor1);
    font-family: var(--fonte1);
}

header > h1{
    padding: 30px;
    font-size: 2em;
}

nav > a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(211, 211, 211, 0.349);
    border-radius: 999px;
    color: var(--cor1);
    font-weight: bold;
}

nav > a:hover{
    background-color: lightgray;
    transition: 0.3s;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 1.5em;
}

section > h2{
    font-weight: bolder;
    font-size: 1.6em;
    font-variant: small-caps;
}

section > p{
    display: inline-block;
    padding: 5px;
}

footer {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 10px;
    text-align: center;
}

footer > a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor2);
}

footer a:hover{
    text-decoration: underline;
}

